*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration:none;
    color: #212121;
} 
#a-href{
    color: #FF4081;
}
#a-more{
    color: #448AFF;;
}
#name{
    font-size: 34px;
    font-weight: 600;
    color:#212121;
    margin-left: 11%;
}
#topnamediv{
    color: #212121;
    font-weight: 600;
}
#topname1 {
    font-size: 23px;
    margin: 8px;
}
#topname2 {
    font-size: 23px;
    margin: 8px;
}
#topname3 {
    font-size: 23px;
    margin: 8px;
}
#topname4 {
    font-size: 23px;
    margin: 8px;
    margin-right: 200px;
}

#class-span{
    font-size: 42px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 0px;
}

.mdui-container{
    width: 50%;
}

#class-card1{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 30px;
    margin-left: 0px;
    background: #81b900;
    box-shadow: 0px 4px 10px #81b900;
    animation-duration: 1s;
    border-radius: 10px;
}
#class-card2{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    background: #EEB211;
    box-shadow: 0px 4px 10px #EEB211;
    border-radius: 10px;
}
#class-card3{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    background: #424242;
    box-shadow: 0px 4px 10px #424242;
    border-radius: 10px;
}
#class-card4{
    height: 100px;
    width: 200px;
    float: left;
    margin-top: 30px;
    margin-left: 20px;
    background: #2196F3;
    box-shadow: 0px 4px 10px #2196F3;
    border-radius: 10px;
}
#class-name{
    color: white; 
    font-size: 36px;
    position: absolute;
    margin-top:30px;
    margin-left: 65px;
}
#banner-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 30px;
    margin-left: 0px;
}
#banner{
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
}
#banner-img{
    position: relative;
    height: 250px;
    width: 900;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 20px;
}
#portfolio-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#microsoft-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 40px;
    margin-left: 0px;
}
#google-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#fluentdesign-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#apple-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
#apple-div1{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 30px;
    margin-left: 0px;
}
#apple-div2{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}

#design-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}


#background-img{
    height: 113px;
    width: 200px; 
}
#wallpaper-card1{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 0px;
    border-radius: 20px;
}
#wallpaper-card2{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
}
#wallpaper-card3{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
}
#wallpaper-card4{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 20px;
}

#wallpaper-card5{
    height: 113px;
    width: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 120px;
    border-radius: 20px;
}


#about-span{
    font-size: 42px;
    font-weight: 600;
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 20px;
}

#about-span-apple{
    font-size: 42px;
    font-weight: 600;
    margin-top: 200px;
    margin-left: 0px;
    margin-bottom: 20px;
}

#ms-page-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
}
h2{
    margin-top: 10px;
}
h5{
    margin-top: 10px;
}
#pay-span{
    font-size: 42px;
    font-weight: 600;
    position: relative;
    margin-top: 80px;
    margin-left: 0px;
}

#wx-pay{
    height: 220px;
    width: 220px;
    margin-left: 180px;
    margin-top: 20px;
}
#ali-pay{
    height: 220px;
    width: 220px;
    margin-top: 20px;
    margin-left: 80px;
}
/*按钮*/
#a-download{
    color: #FF4081;
    margin-left: 40px;
    font-size: 18px;
}

.swiper-container {
    width: 875px;
    height: 240px;
    margin-left: 0px;
    margin-top: 40px;
} 

#swiper-img{
    width: 410px;
    height: 240px;
    border-radius: 20px;
}

#changemode-btn{
    margin-left: 20px;
}
@media screen and (max-width:1840px) { 
    .mdui-container {
        width: 900px;
        }  
    }
@media screen and (max-width:1024px) { 
    .mdui-container {
        width: 880px;
        margin: 0px;
        }
    #portfolio-span{
        margin-top: 40px;
        }
    .swiper-container{
        width: 870px;
    }  
    }


@media screen and (max-width:414px) { 
    .mdui-container {
        width: 414px;
        margin: 0px;
        }  

    #background-img {
    height: 240px;
    width: 394px;
        }  
    }
@media screen and (max-width: 414px) { 
    #banner-img {
        height: 240px;
        width: 394px;
        margin-top: 0px;
        }
    .swiper-container{
        width: 394px;
        height: 100px;
        }
    #swiper-img{
        width: 180px;
        height: 100px;
        border-radius: 10px;
        }  
    } 

@media screen and (max-width:360px) { 
    .mdui-container {
        width: 360px;
        margin: 0px;
        }  
    #banner-img {
        width: 340px;
        height: 236px;
        margin-top: 0px;
    }
    #background-img {
        width: 340px;
        height: 236px;
        }  
    #wallpaper-card1,#wallpaper-card2,#wallpaper-card3,#wallpaper-card4 {
        width: 340px;
        height: 236px;
        margin-top: 20px;
        margin-left: 0px;
        }
    .swiper-container{
        width: 340px;
        height: 120px;
    }
    #swiper-img{
        width: 190px;
        height: 120px;
        border-radius: 10px;
        }  
    } 
    @media screen and (max-width: 360px) { 
    #microsoft-span{
        margin-top: 20px;
    }     
    #fluentdesign-span,#apple-span,#google-span,#design-span, #about-span{
        margin-top: 1060px;
    } 
} 
        
@media screen and (max-width:414px) { 
#wallpaper-card1,#wallpaper-card2,#wallpaper-card3,#wallpaper-card4 {
        height: 240px;
        width: 380px;
        margin-top: 20px;
        margin-left: 0px;
        }
    }

@media screen and (max-width: 414px) { 
    #microsoft-span{margin-top: 20px;}  
    } 
@media screen and (max-width: 414px) { 
    #fluentdesign-span,#apple-span,#google-span,#design-span, #about-span{
        margin-top: 1060px;
    }  
} 


@media screen and (max-width:375px) { 
.mdui-container {
    width: 375px;
    margin: 0px;
    }  
} 
@media screen and (max-width:375px) { 
#wallpaper-card1,#wallpaper-card2,#wallpaper-card3,#wallpaper-card4{
        height: 200px;
        width: 360px;
        margin-top: 10px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 375px) { 
    #banner-img {
        width: 360px;
        height: 180px;
        }  
    .swiper-container{
        width: 360px;
        height: 100px;
        margin-top: 20px;
        }
    #swiper-img{
        width: 160px;
        height: 100px;
        border-radius: 10px;
        }  
    }
@media screen and (max-width: 375px) { 
    #microsoft-span{margin-top: 20px;}  
    }
@media screen and (max-width: 375px) { 
    #fluentdesign-span,#apple-span,#google-span,#design-span,#about-span{
        margin-top: 900px;
    }  
    #portfolio-span{
        margin-top: 20px;
        }
}   

@media screen and (max-width: 375px) { 
    #background-img{
        height: 200px;
        width: 360px;
        }
}  
#good{
    font-weight: 600;
    font-size: 18px;
}

.mdui-ripple{
    font-size: 20px;
    font-weight: 600;

}

.mdui-list-item-content{
    font-size: 24px;
    font-weight: 600;
}